.subheader {
  font-size: 24px;
  padding-left: 10vw
}
.section {
  margin: 20px 0px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.message-to-user {
  font-size: 24px;
}
