<!-- Footer -->
<footer class="page-footer font-small blue pt-4 navbar-light navbar-lewagon">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Become Popular</h5>
        <p>Be the talk of the town with Mobfriends. Get your very own professional friend at Mobfriends, our talented individuals can give a speech at your wedding, go on a movie date with you or even promote your business!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Find Mobfriends', mobfriends_path %>
          </li>
          <li>
            <%= link_to 'My Events', events_path %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019
    <a href="https://lewagon.com/"> Built with ❤️ at Le Wagon Singapore</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
