<div class="buttons-bar d-flex justify-content-center my-3">
  <%= link_to 'Create Event', new_event_path, class: 'btn btn-light' %>
  <%= link_to 'Mobfriend Profile', new_mobfriend_path, class: 'btn btn-light' %>
  <%= link_to 'Join a Gig', '#', class: 'btn btn-light' %>
</div>
