<div class="section d-flex flex-column justify-content-center mx-auto">
  <div class="message-to-user">
    <p>You're not a Mobfriend</p>
    <div class="card shadow-sm d-flex text-center bg-light">
      <p class="p-5"><%= link_to 'Create Mobfriend profile', new_mobfriend_path %></p>
    </div>
  </div>
</div>
