<div class="jumbotron jumbotron-fluid mb-0">
<div class="display: flex">
  <div class="landing-page-callout ml-5">
    <h1 class="display-3">Want some friends?</h1>
    <h5 class="ml-3">Rent one today! Starts from $7/hour.</h5>
    <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-light ml-3"%>
  </div>
</div>
</div>
<%= render 'shared/footer' %>
